<h1>Search</h1>

<script type="text/javascript">
    loadAuthors();
</script>
<input type="text" size="35" id="search_input" onkeyup="search();" placeholder="Search by author, book title, etc..">

<ul id="book_list">
</ul>